.App {
  text-align: center;
  overflow-x: hidden;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  background-color: lightskyblue;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.CardContainer {
  float: none;
  margin: 0 auto;
  width: 90%;
}
