.App {
  text-align: center;
  overflow-x: hidden;
}

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-image: url("https://t4.ftcdn.net/jpg/03/16/76/45/360_F_316764544_Q41R8DGQXRyrkFSlA7MDLRDKAdCKH5tX.jpg");
  
}

.CardContainer {
  float: none;
  margin: 0 auto;
  width: 90%;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}

#leftmenu {
  position: fixed;
  top: 11%;
  left: 0;
  width: 40%;
  height: 100%;
}

#maincontent {
  float: right;
  left: 30%;
  width: 60%;
  height: 100%;
}
.jumbotron {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-travel-around-the-world-travel-poster-template-image_140335.jpg");
  background-size: cover;
}
.card {
  cursor: pointer;
}
